{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}"  fetchpriority="high" />
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}"  fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right"></i>Google Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://x.com/{{ author.twitter }}"><i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>X</a></li>
      {% endif %}
      {% if author.rednote %}
        <li><a href="{{ author.rednote }}"><img src="{{ '/images/rednote-icon.svg' | prepend: base_path }}" alt="" aria-hidden="true" class="icon-pad-right" style="width: 1.25em; height: 1.25em; vertical-align: -0.125em; border-radius: 50%; display: inline-block;">RedNote</a></li>
      {% endif %}
      {% if author.douyin %}
        <li><a href="{{ author.douyin }}"><i class="fas fa-fw fa-music icon-pad-right" aria-hidden="true"></i>Douyin</a></li>
      {% endif %}
      {% if author.wechat_qr %}
        <li><a href="{{ author.wechat_qr | prepend: base_path }}"><i class="fab fa-fw fa-weixin icon-pad-right" aria-hidden="true"></i>Wechat</a></li>
      {% endif %}
    </ul>
  </div>
</div>
